@import url(https://fonts.googleapis.com/css?family=Satisfy:400,700|family=Delius+Unicase:400,700|Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic|Pacifico|Dancing+Script:400,700|Handlee|Sacramento);
body {
  background: url(../images/bg.png) repeat top left #ffffff;
  margin: 0;
  padding: 0 20px;
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.portfolio {
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}
h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}
h3 span {
  font-size: 17px !important;
  font-weight: normal;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-align: left;
  padding-left: 25px;
  font-size: 18px;
  line-height: 22px;
}
.intro p {
  padding-left: 0;
  margin-top: -20px;
  text-align: center;
}
.work-history {
  margin-top: 20px;
}
.work-history div {
  margin-bottom: 20px;
}
.experience div {
  float: left;
  display: inline-block;
  margin-bottom: 20px;
  width: 25%;
}
@media (max-width: 600px) {
  .experience div {
    width: 100%;
  }
}
.experience div:after {
  clear: both;
}
.experience p {
  padding-left: 0;
}
@media (max-width: 600px) {
  .experience p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .experience h3 {
    text-align: center;
  }
}
.contact {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}
.contact p,
.contact h3 {
  padding-left: 0;
  text-align: center;
}
