/* ==================================================================

*   Privado Media Queries

TOC :

1. screenwidth greater than 1400px (Large Screens)
2. screenwidth greater than 1024px (Medium Screen/Large Tablets)
3. screenwidth less than 1024px (Medium Screen/Large Tablets)
4. screenwidth less than 960px (Mobile wide/Smaller Tablets)
5. screenwidth less than 768px (Mobile wide/Smaller Tablets)
6. screenwidth greater than 480px (Medium Screen Mobile)
7. screenwidth less than 480px (Small Screen Mobile)


/* ================================================================== */



/* Screens Resolution : 1400px+
-------------------------------------------------------------------------- */
@media only screen and (min-width: 1401px) {

  .about-me .bio-inner {
    padding: 70px 30px;
  }

  .about-me .profile-image h2 {
    font-size: 96px;
  }

  .about-me .profile-image h3 {
    font-size: 21px;
    line-height: 1.8em;
  }

  .portfolio-container {
    padding: 50px 200px;
  }

 .portfolio-items figure {
    max-width: none;
  }

  .portfolio-items figure.effect-roxy h2 {
    padding: 30% 0 10px 5px;
    font-size: 1.5em;
  }

  .portfolio-items figure p {
    font-size: 68.5%;
    letter-spacing: 1px;
  }

}

/* Screens Resolution : 1024px+
-------------------------------------------------------------------------- */

@media only screen and (min-width: 1024px) {

.page-container .page-close {
  background-image:url("../img/icons/icon-close-desktop.svg");
}

.page-container .page-scroll {
  background-image:url("../img/icons/icon-arrow-desktop.svg");
}

.page-container .single-page::after {
  background-attachment:fixed;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.8s,opacity .5s;
  -moz-transition: -moz-transform 0.8s,opacity .5s;
  transition: transform 0.8s,opacity .5s
}


.page-container .single-page.is-loaded::after {
  opacity:0.15;
}

.no-touch .page-container .single-page:hover::after,.page-container .single-page.is-full-width.is-loaded::after {
  opacity:1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
}

/* min-width: 1024px end*/


/* screenwidth less than 1024px
--------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {

.page-title h2 {
  font-size: 1.25em;
}

.page-title p {
  font-size: 14px;
}

.about-me .profile-image {
  padding: 40px 20px;
}

.about-me .bio p {
  font-size: 14px;
}

.about-me .bio .buttons {
  margin: 10px auto;
}

.hire-me.btn, .download-resume.btn {
  padding: 15px;
  width: 175px;
  font-size: 12px;
}

.about-me .bio-inner {
  padding: 40px 20px;
  position: absolute;
}


.hire-me.btn:after, .download-resume.btn:after{
	content: "";
}

.education ul li p {
  padding-left: 50px;
}

.employment ul li p {
  padding-right: 50px;
}

.portfolio-container {
  padding: 50px 10px;
}

.social-profiles ul {
  width: 90%;
}

}


/* screenwidth less than 960px (Mobile wide/Smaller Tablets)
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

.about-me .profile-image h2 {
  font-size: 54px;
}

.about-me .profile-image h3 {
  font-size: 14px;
}

.about-me .bio {
  padding: 0;
}

.about-me .bio p {
  font-size: 13px;
}

.about-me .bio-inner {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
  height: 100%;
  min-height: 560px;
  left: 0;
  padding: 40px 20px;
  position: relative;
  top: 0;
  width: 100%;
}

.hire-me.btn, .download-resume.btn {
  padding: 15px;
  width: 150px;
  font-size: 11px;
}

.service-list {
  width: 95%;
}

.fun-facts {
  padding: 10px;
}

.fun-facts ul {
  width: 100%;
}

.service-list ul li p {
  padding: 5px 15px;
}


.recognition .rec-inner {
  padding: 100px 50px;
}

.skill-container {
  padding: 20px;
}

.recognition .rec-list {
  padding: 30px 10px;
}

.recognition .rec-list ul li span {
  margin-right: 10px;
}

.recognition .rec-list ul li h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0;
  padding: 5px;
}

.recognition .rec-list ul li h5 {
  margin: 0;
}

.portfolio-items figure img {
  opacity: 0.4;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.portfolio-items figure.effect-roxy p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.testimonials blockquote p {
  max-width: 600px;
}


.project-url.btn {
  background:#3f3f46;
  text-transform: uppercase;
  color:#fff;
  border-color:#3f3f46
}

.project-url.btn:after {
  right: 30px;
}


.address {
  float: none;
  min-height: 250px;
  position: relative;
  width: 100%;
  overflow: hidden;
}


.address:after {
  border: none;
}

.map-container {
  float: none;
  height: 300px;
  min-height: 0;
  position: relative;
  width: 100%;
}


.location img {
  width: 40px;
}

.location h4 {
  font-size: 10px;
}

.social-profiles ul {
  width: 60%;
}

.map-container {
  min-width: 100vw;
}

.fun-facts h3 {
  font-size: 28px;
  margin: 5px;
  padding: 5px;
}

.fun-facts h3 i {
  font-size: 28px;
}

.fun-facts ul li {
  border-right: 1px solid #fff;
}

.fun-facts h5 {
  font-size: 12px;
}
}


/* Mobile wide/Smaller Tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

.is-full-width .page-title {
  box-shadow: none;
}

.page-title span {
  display: none;
}

.page-title span i {
  font-size: 1.5em;
  box-shadow: 0 0 0 20px transparent;
}

.menu-desc {
	opacity: 1!important;
}

.page-title h2 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  line-height: 100;
  margin: auto;
}

.page-title p {
  display: none;
}

.is-full-width .page-title span {
  display: block;
}

.is-full-width .page-title h2 {
  background: none;
  line-height: 1.5em;
  margin: auto;
}

.is-full-width .page-title p {
  display: block;
}

.about-me {
  padding: 0;
}

.about-me .profile-image {
  width: 100%;
  padding: 20px;
  min-height: 200px;
}

.about-me .bio {
  width: 100%;
  min-height: 0;
  padding: 0;
}

.about-me .bio-inner {
  min-height: 0;
  padding: 40px 0;
}

.about-me .bio h3 {
  font-size: 16px;
  line-height: 20px;
  padding: 0 10px;
  text-align: left;
}

.about-me .bio p {
  font-size: 14px;
  padding: 0 10px;
}

.services {
  padding: 20px 0 30px;
}

.services .sec-divider {
  margin: 10px auto 0;
}

.services .section-title {
  font-size: 24px;
  padding: 20px;
}

.service-list {
  width: 90%;
}

.service-list ul li {
  display: block;
  float: left;
  margin: 8px auto;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.fun-facts {
  padding: 5px;
}

.fun-facts ul li {
  border-right: 1px solid #fff;
}

.fun-facts h3 {
  font-size: 20px;
}
.fun-facts h3 i{
  font-size: 20px;
}

.fun-facts h5 {
  font-size: 10px;
  letter-spacing: 0;
  margin: 5px auto;
  padding: 2px 0;
}

.footer {
  padding: 20px 10px;
}

.resume {
  padding: 20px 0;
}

.resume .sec-divider {
  margin: 10px auto 0;
}

.resume .education h2, .resume .employment h2 {
  font-size: 16px;
  padding: 15px 0;
}

.education ul li h3, .employment ul li h3 {
  font-size: 14px;
}

.education ul li h4, .employment ul li h4 {
  font-size: 13px;
  padding: 0;
}

.resume .education {
  padding-left: 5px;
  padding-right: 20px;
}

.resume .employment {
  padding-left: 20px;
  padding-right: 5px;
}

.education ul li p {
  padding-left: 20px;
}

.employment ul li p {
  padding-right: 20px;
}

.skills {
  padding: 20px 0;
}

.skills .sec-divider {
  margin: 10px auto 0;
}

.skills .section-title {
  font-size: 24px;
  padding: 20px;
}

.skill-container {
  margin: 10px auto;
}


.skills figure canvas {
  height: 100px !important;
  width: 100px !important;
}

.skill-container .skill figcaption {
  font-size: 13px;
  padding: 10px;
}


.recognition .rec-desc {
  display: block;
  float: none;
  min-height: 0;
  width: 100%;
  padding: 0;
}

.recognition .rec-desc h2 {
  font-size: 24px;
}

.recognition .rec-list {
  display: block;
  float: none;
  margin-left: 10px;
  padding: 30px 5px;
  width: 100%;
}

.recognition .rec-list ul {
  width: 95%;
}

.recognition .rec-list ul li {
  height: auto;
}

.recognition .rec-inner {
  padding: 30px;
  position: relative;
}

.portfolio-items figure.effect-roxy figcaption {
  padding: 2em;
}


.testimonials {
  padding: 20px 0;
}

.testimonials .sec-divider {
  margin: 20px auto;
}

.testimonials .text-container {
  padding-bottom: 20px;
}

.testimonials .section-title {
  font-size: 24px;
  margin: 10px auto 20px;
  padding: 10px;
}

.testimonials blockquote p {
  font-size: 14px;
  max-width: 350px;
}

.white-popup {
  max-width: 95%;
}

.project-title {
  font-size: 16px;
}

.project-desc {
  font-size: 13px;
}

.contact {
  padding: 20px 0;
}

.contact .sec-divider {
  margin: 20px auto;
}

.contact .section-title {
  font-size: 24px;
  padding: 10px;
}

.form-container {
  margin: 30px auto;
  padding: 20px;
  width: 90%;
}

.address {
  padding: 60px 0;
}

.social .social-profiles ul {
  width: 100%;
}

.map-container {
  height: 220px;
}

.footer a {
  font-size: 11px;
  padding-right: 10px;
}

.footer span {
  font-size: 10px;
  margin-left: 5px;
}

}


/* Medium Screen Mobile
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 479px) {

.about-me .profile-image {
  padding: 20px;
  width: 100%;
}

.about-me .bio h3 {
  margin-top: 5px;
}

.hire-me.btn, .download-resume.btn {
  font-size: 12px;
  padding: 15px;
  width: 100%;
}

.service-list .service {
  margin: 10px auto;
}


.service-list .service p {
  padding: 5px;
}



.fun-facts ul li {
  border-right: 1px solid #fff;
  float: left;
  margin: 20px auto;
}

.fun-facts h3 i, .fun-facts h3 i {
  font-size: 18px;
  line-height: 18px;
}

.fun-facts h5 {
  font-size: 8px;
  letter-spacing: 0;
}

.resume .education h2, .resume .employment h2 {
  font-size: 13px;
}

.education ul li h3, .employment ul li h3 {
  font-size: 12px;
}

.education ul li h4, .employment ul li h4 {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.education ul li p {
  padding-left: 5px;
}

.employment ul li p {
  padding-right: 5px;
}

.education ul li span, .employment ul li span {
  font-size: 12px;
}

.education ul li p, .employment ul li p {
  font-size: 13px;
  line-height: 22px;
}

.skill-container .skill figcaption {
  font-size: 10px;
  text-align: center;
}

.recognition .rec-list {
  margin-left: 15px;
}

.testimonials blockquote p {
  font-size: 13px;
  max-width: 300px;
}

.testimonials blockquote p:before {
  font-size: 16px;
}

.testimonials blockquote p:after {
  font-size: 16px;
  margin-left: 3px;
}

.testimonials blockquote cite {
  font-weight: bold;
}

.form-container input {
  width: 100%;
  display: block;
  float: none;
  padding: 15px;
  margin: 10px auto;
}

.form-container textarea, .form-container button {
  padding: 15px;
  margin: 10px auto;
}

.social .social-profiles ul {
  width: 100%;
  padding: 0;
}

.social-profiles ul li a i {
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  width: 36px;
}

.address {
  min-height: 240px;
  padding: 45px 0;
}

.map-container {
  height: 200px;
}


}


/* Small Screen Mobile
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 320px) {

.pp-container {
  width: 160px;
}

.about-me .bio h3 {
  font-size: 16px;
  line-height: 24px;
}

.about-me .bio p {
  font-size: 13px;
  padding: 0 5px;
}

.service-list ul li {
  margin: 3px auto;
}

.service-list ul li p {
  font-size: 13px;
  line-height: 20px;
}

.fun-facts h3 {
  font-size: 18px;
  line-height: 18px;
}

.fun-facts h5 {
  font-size: 7px;
  line-height: 7px;
}

.footer a {
  font-size: 10px;
}

.resume .education h2, .resume .employment h2 {
  font-size: 11px;
}

.education ul li h3, .employment ul li h3 {
  font-size: 15px;
  line-height: 18px;
}

.education ul li h4, .employment ul li h4 {
  font-size: 11px;
}

.education ul li p {
  padding-left: 10px;
}

.employment ul li p {
  padding-right: 10px;
}

.recognition .rec-list {
  margin-left: 5px;
}

.recognition .rec-list ul li h3 {
  font-size: 12px;
  line-height: 18px;
}

.recognition .rec-list ul li h5 {
  font-size: 12px;
}

.recognition .rec-list ul li h4 {
  font-size: 11px;
}

.recognition .rec-list ul li span {
  font-size: 70px;
}

.skill-container .skill {
  padding: 0;
}


.portfolio-items figure {
  max-height: 360px;
  max-width: 300px;
  min-width: 270px;
}


.testimonials blockquote {
  margin: 0 0 20px;
}

.testimonials blockquote p {
  font-size: 12px;
  line-height: 24px;
  max-width: 270px;
}

.testimonials blockquote p:before {
  font-size: 14px;
  margin-left: -16px;
}

.testimonials blockquote p:after {
  font-size: 14px;
  margin-left: 3px;
}

.location img {
  width: 36px;
}

.location h4 {
  font-size: 9px;
}

.social .social-profiles ul {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 310px;
}


.map-container {
  height: 180px;
}

}


/* only for webkit  browsers */
/* to resolve flickering issue on chrome/safari for fixed background attachment */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .page-container .single-page::after {
    background-attachment: inherit;
  }
}
